.search__component__title,
.search__component__price,
.search__component__stock {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.search__component {
  border-bottom: 2px solid #ddd;
}

.add__to__cart {
  font-family: "Roboto", sans-serif;
  height: 40px;
  background: #ffa41c;
  font-size: 14px;
  border: 1px solid #b4b0b056;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  color: #111;
  border-radius: 20px;
}
